@model IEnumerable<TestMVC.ViewModels.ProductInBasketViewModel>
<h3> Ваша корзина </h3>
<table class="table">
    <tr>
        <th>Категории</th>
        <th colspan="2">Цена</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td> @product.Name</td>
            <td> @product.Price</td>
            <td>
                <form method="post" asp-controller="Basket" asp-action="Delete">
                    <input type="hidden" name="productId" value=@product.Id />
                    <input class="btn btn-danger" type="submit" value="Удалить из корзины" />
                </form>
             </td>
        </tr>
    }
<tr><td colspan="3">Итоговая сумма: @ViewBag.TotalAmount</td></tr>

</table>
