@model testMVC.ViewModels.ProductForDisplayViewModel
<td> @Model.Name</td>
<td> @Model.Price</td>
<td>
    <form method="post" asp-controller="Products" asp-action="Buy">
        @Html.Hidden("productId", Model.Id)
        <button type="submit" class="btn btn-success">Купить</button>
    </form>
</td>
