<div class="input-group-text">
    <input type="radio" id="sort1" name="sort" value="1">
    <input type="text" class="form-control" value="Prise To Up" disabled>

    <input type="radio" id="sort2" name="sort" value="2">
    <input type="text" class="form-control" value="Price To Down" disabled>

    <input type="radio" id="sort3" name="sort" value="3">
    <input type="text" class="form-control" value="From a to z" disabled>

    <input type="radio" id="sort4" name="sort" value="4">
    <input type="text" class="form-control" value="From z to a" disabled>
</div>