@model IEnumerable<BLL.DTO.ProductDTO>

<table class="table">
    <tr>
        <th>Категории</th>
        <th>Цена</th>
    </tr>
    @foreach (var product in Model)
    {
<tr>
    @await Html.PartialAsync("_ProductPartialView", product)
</tr>
    }

</table>
@if (this.User.IsInRole("Admin"))
{
    <form method="get" asp-controller="Products" asp-action="Create">
        <input class="btn btn-success" type="submit" value="Создать" />
    </form>
}