@model TestMVC.ViewModels.PaginationProductViewModel
@{
    ViewData["Title"] = "Products";
}
@if (this.User.IsInRole("Admin"))
{
    <form method="get" asp-controller="Products" asp-action="Create">
        <input class="btn btn-success" type="submit" value="Create" />
    </form>
}
<form method="get" asp-controller="Products" asp-action="Index">
    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                @await Html.PartialAsync("_SortPartialView.cshtml", Model)
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                @await Html.PartialAsync("_FilterPartialView.cshtml", Model)
            </div>
            <div class="col-10">
                <div class="row">
                    @for (int i = 0; i < @Model.ProductArray.Count(); i++)
                    {
                        <div class="col-lg-5 col-xl-4">
                            @await Html.PartialAsync("_ProductPartialView.cshtml", Model.ProductArray[i])
                        </div>
                    }
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <ul class="pagination justify-content-center">
                    @{int nextPage = Model.CurrentPage + 1;}
                    @{int previousPage = Model.CurrentPage - 1;}
                    @if (Model.HasPrevious)
                    {
                        <input type="hidden" name="CurrentPage" value="@previousPage" />
                        <li class="page-item"><input class="page-link" type="submit" value="Next" /></li>
                    }
                    @if (Model.HasNext)
                    {
                        <input type="hidden" name="CurrentPage" value="@nextPage" />
                        <li class="page-item"><input class="page-link" type="submit" value="Next" /></li>
                    }
                </ul>
            </div>
        </div>

    </div>
</form>