@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

    <table class="table">
        <tr>
            <th>Роль</th>
        </tr>
        @foreach (var role in Model)
        {
        <tr>
            <td>@role.Name</td>
            <td>
                <form method="Post" asp-controller="Role" asp-action="DeleteRole">
                    <input type="hidden" name="role" value="@role.Name" />
                    <input class="btn btn-danger" type="submit" value="Удалить" />
                </form>
            </td>
        </tr>
        }

    </table>
    <form method="get" asp-controller="Role" asp-action="Create">
        <input class="btn btn-success" type="submit" value="Создать" />
    </form>