    <! -- сортировка по цене  -->

    <div class="input-group-text">
        <input type="radio" id="sort1" name="sort" value="0">
        <input type="text" class="form-control" value="По возрастанию цены" disabled>

        <input type="radio" id="sort2" name="sort" value="1">
        <input type="text" class="form-control" value="По убыванию цены" disabled>
    </div>