@model IEnumerable<TestMVC.ViewModels.ProductForDisplayViewModel>
@{
    ViewData["Title"] = "Home Page";
}
<table class="table">
    <tr>
        <th>Товары</th>
        <th colspan="2">Цена</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            @await Html.PartialAsync("/Views/Products/_ProductPartialView.cshtml", product)
        </tr>
    }

</table>
