@model IEnumerable<TestMVC.ViewModels.CategoriesForDisplayViewModel>

<table class="table">
    <tr>
        <th>Категории</th>
    </tr>
    @foreach (var categories in Model)
    {
        <tr>
            <td><a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index" asp-route-id="@categories.Id" >@categories.Name</a></td>
        </tr>
    }

</table>

    <form method="get" asp-controller="Categories" asp-action="Create">
        <input class="btn btn-success" type="submit" value="Создать" />
    </form>
